<!DOCTYPE html>
<html>
<head>
  <title>Treebook2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<!-- Typekit -->
<script type="text/javascript" src="//use.typekit.net/qyy6uri.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<!-- Typekit -->

</head>
<body>

<%= yield %>

</body>
</html>
